/* comments 
syntax is important, use a colon and semi-colon at the end
to identify different paragraphs use id="name" for each (ex: #first)
specificity always wins (id vs general)
last one wins if they're both the same level of specificity (two "first" IDs)

difference between an id & a class is that multiple elements can have a class
only one element on the page can have an id

in modern web design, we don't use IDs, only use classes (because they're more flexible)
IDs start with #
Class start with .
Only use class, doesn't matter what order you put them in

gs.statcounter.com shows browser breakdown
*/

.border{
    border-color: black;
    border-style: dashed;
    box-shadow: 5px;
}

.header{
    text-align: center;
    color: #460146;
    background-color: yellow;
}

.body {
    text-align: center;
    border-style: dotted;
    border-color: blue;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
}

.icon{
    width: 50px;
    background-color: red;
    padding-right: 10px;
    padding-left: 10px;
    border-style: double;
    border-color: yellow;
    text-align: center;
}