.display-4{
    color:rgb(228, 204, 250);
}

.navbar-dark .navbar-brand {
    color:rgb(48, 2, 92);
}

.alert-warning {
    background-color:rgb(240, 164, 243);
}

.btn-primary {
    background-color: rgb(243, 168, 83);
}

.jumbotron {
    background-color: rgb(3, 3, 71);
    color: white;
}