.jumbotron{
    background-image:url(pics/jumpingcrop2.jpg);
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
    height: 500px;
}

body {
    font-family: 'Open Sans Condensed', sans-serif;
}

.phototext {
    color: #FFFFFF;
    text-align: left;
    padding-left: 50px;
}

.card {
    border: 0px;
    width: 100%;
}

div img {
    width:100%;
}

.card-title {
    text-align: center;
}

.navbar-brand {
    width: 100px;
}